/* FONTS */
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

html, body, #root {
    height: 100%;
    scroll-behavior: smooth;
}

#root {
    display: flex;
    font-family: 'Gilroy';
    overflow:hidden;
}

* {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tam-100 {
    width: 100%;
}

.nav_bar {
    height: 100px;
    position: fixed;
    background: #24292e;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    line-height: 100px;
    overflow:hidden;
    z-index: 1;
    -webkit-box-shadow: 0 6px 6px -6px rgb(56, 56, 56);
    -moz-box-shadow: 0 6px 6px -6px rgb(56, 56, 56);
    box-shadow: 0 6px 6px -6px rgb(56, 56, 56);
}

.nav_arrow{
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.left_content {
    text-transform: uppercase;
    padding: 0 40px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pipe {
    width: 2px;
    height: 20%;
    background: white;
}

.title {
    margin-left: 20px;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
}

.right_content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.button_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.button_list .link {
    margin: 0 2vw;
}

.button_list .link a:link,
.button_list .link a:active,
.button_list .link a:visited {
    color: white;
    text-decoration: none;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

.pages {
    margin-top: 100px;
    height: 100%;
}

.page {
    height: calc(100% - 100px);
}

.homepage {
    background-position: center;
    background-size: cover;
    background-image: url("../images/bg_home.jpg");
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.arrow_down img{
    height: 35px;
    cursor: pointer;
    position: relative;
    top: 7px;
}

.text_navigate{
    color: white;
}

.btn_about{
    position: absolute;
    border:1px solid white;
    bottom: 15px;
    left:15px;
    height: 40px;
    width: 150px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

.btn_about span {
    z-index: 2;
}

.text_center{
    text-align: center;
    letter-spacing: 5px;
    font-weight: normal;
    font-size: 400%;
    color: white;
    overflow: hidden;
}

.btn_about div {
    position: relative;
}

.btn_about span{
    transition: 0.5s;
}

.btn_about span:nth-child(2) {
    position: relative;
    margin-left: 100%;
    transition: 5s;
}

.btn_about:hover span:nth-child(1) {    
    position: relative;
    margin-left: -200%;
}

.btn_about:hover span:nth-child(2) {  
    position: relative;
    left: 18%;
}

.about {
    background: white;
}

.nav_bar_mobile {
    height: 70px;
    display: none;
    overflow: hidden;
    position: fixed;
    background: black;
    color: white;
}

/* mediaquery */
@media screen and (max-width: 786px){
    .nav_bar{
        display: none;
    }

    /* update */

    .nav_bar_mobile {
        line-height: 70px;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }

    .nav_bar_mobile .title {
        margin: 0;
        text-align: center;
    }

    .logo{
        padding: 0 0 0 40px;
    }
    .logo img{
        width: 30px;
    }

    .pages {
        margin-top: 70px;
    }

    .page {        
        height: calc(100% - 70px);
    }
}